# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Transitional source files
*.oc*
*.!oc*
*.ex*
*.!ex*
*__oc*
*__ex*
*.ox*
*.cp
*ocex*

# transient binary artifacts
*.stackdump

# auto-backups
*.bak
*.!bak
*.cur
*.!cur

# code fragmants
*.frag

# diff files
*.diff

# test programs
test*.exe

# Default binary program suffix for linux linker outputs
*.out

# test source files
#test*.cpp
#**/test*

# text files (test support)
*.txt*

# archives
*.zip
*.tar
*.gz